
.services{
  color:#676A68;
/*  padding-top:10%;
*/}
.services h2 {
    font-size: 20px;
    letter-spacing: -1px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: inherit;
}


.label-coming, .badge-coming {
    color: #555555;
}
.coming {
    background-color: grey;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 0.2px;
    font-size: 9px;
    font-weight: 800;
    padding: 3px 8px;
    text-shadow: none;
    color: white;
    margin-bottom: 1.5%;
}

.sm{
    width: 40%;
}


.services   p {
    color: #aeaeae;
    font-size: 13px;
}

p {
    margin: 0 0 10px;
}


@media only screen and (max-width: 768px){
  .services{
    padding-top: 10%;
  }
  
}

.features-icon-size-position{
    font-size: 70px;
    display: inherit;
    color: orange;
}

@media only screen and (max-width: 768px){
.brick{
    margin:2%;
      padding-left: 3%;
            padding-right: 3%;
            width: 100%;
           

}

}

@media only screen and (min-width: 768px){
.brick1{
    margin:2%;
      padding-left: 3%;
            padding-right: 3%;
     width: 45%;
}

}