<div id="contact" class="contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{{ contactPageData.title }}</h1>
                <p>{{ contactPageData.description }}</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="orange">{{ contactPageData.companyName }}</span></strong><br>
                    <div [innerHTML]="contactPageData.address"></div>
                    <abbr title="Phone">Tel:</abbr> {{ contactPageData.phone }}
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    {{ contactPageData.aboutus }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="{{ contactPageData.email }}" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li><a href="{{ contactPageData.twitterHandle }}"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="{{ contactPageData.facebookHandle }}"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="{{ contactPageData.linkedinHandle }}"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>{{ contactPageData.trademark }}</strong><br> {{ contactPageData.trademarkDescription }}</p>
            </div>
        </div>
    </div>
</div>