<header #navbar  >

 

      <nav class="navbar navbar-fixed-top link-effect-4 menu-color-collapse" [ngClass]="navbarCl" >
        <div class="container-fluid" [ngClass]="navbarCl">
          <div class="navbar-header" [ngClass]="navbarCl">
            <button type="button" class="navbar-toggle collapsed menu-color" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only ">Toggle navigation</span>
              <span class="icon-bar "></span>
              <span class="icon-bar "></span>
              <span class="icon-bar "></span>
            </button>
            <a class="navbar-brand image-responsive" [ngClass]="navbarCl" href="#" >
              <img src="assets/archiveonline.png">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse menu-color-collapse">
            <ul class="nav navbar-nav navbar-right menu-font ">
              <li class="active"><a pageScroll href="#login">LOGIN</a></li>
              <li><a  pageScroll href="#features">FEATURES</a></li>
              <li><a  pageScroll href="#changelog">CHANGELOG</a></li>
              <li><a pageScroll href="#contact">Contact</a></li>
              
              
            </ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>




   




</header>

<div class="row home-component image-responsive  navbar-div-padding" >
  <div class="row">

    <div class="col-sm-8 hidden-xs">
      <img src="assets/landing/login-header.png" class="login-header">
    </div>

    <div class=" col-sm-4 form-padding ">

      <!-- <div class="row" >
        <li *ngFor=" let loginPopup of loginPopups ">
          {{loginPopup.id}}
        </li>
      </div> -->

      <div class="ibox-content-login" >
        <div class="alert alert-danger fade in" *ngIf="loginFalse">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
           Request failed! Please try again.
        </div>
        <div class="list-group animated flipInY" *ngIf="loginPopups" >
          <li class="list-group-item">Choose your company to login</li>
          <a *ngFor="  let loginPopup of loginPopups" class="list-group-item" (click) = "loginRedirect(loginPopup)">{{loginPopup.name}}<i class=" pull-right fa fa-chevron-right"></i></a>
        </div>

        <div *ngIf="!loginPopups" >
            <h3>Sign in</h3>
            <form [formGroup] ="loginForm" (ngSubmit) ="onLogin()" >
              <div class="form-group {{response}}">
                  <input type="text" class="form-control" placeholder="Username" formControlName="username" required="">
              </div>

              <div class="form-group {{response}}">
                                <input type="password" class="form-control" placeholder="Password" formControlName="password" required="">
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary block full-width m-b"  [disabled] = "!loginForm.value"><p *ngIf ="!loginCog">Login</p><img *ngIf = "loginCog" class = "loginCog" src="assets/gear.svg">
</button>
              </div>


              
            </form>
        </div>
      </div>
    </div>


  </div>
  
</div>



