
<div class="container">


	<div class="row services">

		<div class="col-sm-4">
            <!--<i class="fa fa-eye"></i> --><h2>Monitoring</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>

		<div class="col-sm-4">
	            <!--<i class="fa fa-flask"></i>--><h2>Invention <span class="coming label-coming">coming soon</span></h2>
	            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>           
	    </div>
	    <div class="col-sm-4">
            <!--<span class="fa fa-shopping-cart"></span>--><h2>Orders <span class="coming label-coming">coming soon</span></h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
        </div>


	</div>

</div>